<ion-view hide-nav-bar="false" hide-back-button="true" cache-view="false" title="Confirm Order">
    <!-- do you want padding? -->
    <ion-content class="bg-g paddingZero has-header" has-bouncing="false">
        <div class="row paddingZero truck-det-s">
            <div class="col col-33 paddingZero text-center">
                <h5 class="white-c">Success Rides</h5>
                <span>99</span>
            </div>
            <div class="col col-33 paddingZero text-center">                
            </div>
             <div class="col col-25 paddingZero text-right">
                <h5 class="white-c">Weight</h5>
                <span>200 Tons</span>
            </div>
        </div>
        <div class="parent-circle" >
            <div id="outer-circle">
                <div id="inner-circle">
                <img src="http://placehold.it/50x50" class="truck-img-s"/>
                </div>
            </div>
        </div>
        <div class="row text-center driver-det-box">
            <div class="col">
                <div class="white-c driver-text">Your Driver Name : <span class="driver-name">Raghu Ram</span></div>
                <div class="white-c driver-from" >from Hyderabad</div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="button button-positive rating-text-btn" >Rating</button>
                <button class="button button-default rating-value-btn" >4+</button>
            </div>
        </div>
        <div class="row truck-det-s">
            <div class="col">
                <div class="button-bar button-bar-tabs-group">
                    <a class="button button-default button-small order-det">Order Details</a>
                    <a class="button button-default button-small payment-det">Payment</a>
                    <a class="button button-positive button-small confirm-det">Confirm Order</a>
                </div>
            </div>
        </div>
        <div class="row truck-det-s row-center confirm-message-box">
            <div class="col col-20 col-center text-center">
                <i class="icon ion-android-checkmark-circle white-c confirm-message"></i>
            </div>
            <div class="col col-80">
                <div class="white-c">Thank you!</div>
                <div class="white-c">Your order has been place and is</div>
                <div class="white-c">being processed.</div>
            </div>
        </div>
        <div class="row truck-det-s" >
            <div class="col padding-left-5-p" >
                <h4 class="white-c normal-weight" >Updates send to</h4>
                <span class="white-c f-s-9" ><i class="icon ion-android-call white-c"></i>&nbsp;&nbsp;&nbsp;0123456789</span>
                <span class="white-c email-s"><i class="icon ion-email email-icon"></i>&nbsp;&nbsp;&nbsp;order@confirm.com</span>
            </div>
        </div>
        <div class="row truck-det-s" >
            <div class="col padding-left-5-p" >
                <h4 class="white-c normal-weight" >Payment by</h4>
                <span class="white-c f-s-9" ><i class="icon ion-card white-c credit-card-icon"></i>&nbsp;&nbsp;&nbsp;Credit Card</span>
                
            </div>
        </div>
        <div class="row ">
            <div class="col padding-left-5-p" >
                <h4 class="white-c normal-weight" >Type of Vehicle</h4>
                <span class="white-c f-s-9" >Small Van</span>
                
            </div>
        </div>
    </ion-content>
</ion-view>
