<ion-view hide-nav-bar="false" hide-back-button="true" cache-view="false" title="Dashboard">
    <!-- do you want padding? -->
    <ion-content class="padding bg-g has-header">
        <div class="row">
            <div class="col col-33 text-center">
                <div class="box">
                    <img class="" src="main/assets/images/truck1.png" style="width:100%;" />
                    <span class="subTitle">Mini Trucks</span>
                </div>
            </div>
            <div class="col col-33 text-center">
                <div class="box">
                    <img class="" src="main/assets/images/truck1.png" style="width:100%;" />
                    <span class="subTitle">Mini Trucks</span>
                </div>
            </div>
            <div class="col col-33 text-center">
                <div class="box">
                    <img class="" src="main/assets/images/truck1.png" style="width:100%;" />
                    <span class="subTitle">Mini Trucks</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-33 text-center">
                <div class="box">
                    <img class="" src="main/assets/images/truck1.png" style="width:100%;" />
                    <span class="subTitle">Mini Trucks</span>
                </div>
            </div>
            <div class="col col-33 text-center">
                <div class="box">
                    <img class="" src="main/assets/images/truck1.png" style="width:100%;" />
                    <span class="subTitle">Mini Trucks</span>
                </div>
            </div>
            <div class="col col-33 text-center">
                <div class="box">
                    <img class="" src="main/assets/images/truck1.png" style="width:100%;" />
                    <span class="subTitle">Mini Trucks</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-33 text-center">
                <div class="box">
                    <img class="" src="main/assets/images/truck1.png" style="width:100%;" />
                    <span class="subTitle">Mini Trucks</span>
                </div>
            </div>
            <div class="col col-33 text-center">
                <div class="box">
                    <img class="" src="main/assets/images/truck1.png" style="width:100%;" />
                    <span class="subTitle">Mini Trucks</span>
                </div>
            </div>
            <div class="col col-33 text-center">
                <div class="box">
                    <img class="" src="main/assets/images/truck1.png" style="width:100%;" />
                    <span class="subTitle">Mini Trucks</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-33 text-center">
                <div class="box">
                    <img class="" src="main/assets/images/truck1.png" style="width:100%;" />
                    <span class="subTitle">Mini Trucks</span>
                </div>
            </div>
            <div class="col col-33 text-center">
                <div class="box">
                    <img class="" src="main/assets/images/truck1.png" style="width:100%;" />
                    <span class="subTitle">Mini Trucks</span>
                </div>
            </div>
            <div class="col col-33 text-center">
                <div class="box">
                    <img class="" src="main/assets/images/truck1.png" style="width:100%;" />
                    <span class="subTitle">Mini Trucks</span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
